.c_footer {
  display: flex;
  flex-direction: row;
  justify-content: right;
  cursor: pointer;
}
.footer div {
  margin-right: 10px;
  margin-left: 10px;
}
.footer p {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.footer {
  bottom: 0;
  margin-left: 40px;
  margin-right: 40px;
  border-width: 1px;
  border-style: solid;
  background-color: lightgray;
  margin-bottom: 0;
}
a {
  font-style: normal;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
